.h1, .h3, p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #212589;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #212529; 
} 

thead {
    font-family: Consolas;
    background-color: #0E8EA8;
    color: #fff;  
    
}

tbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #212529;
    background: #83D1E1;
}

.h1 {
    position: relative;
}

.figure {
    position: absolute;
    left: 20px;
    width: 130px;
    height: 130px;
}

.input {
    background: #83D1E1;
    border: #fff;
    border-bottom: 1px solid #212529;
    width: 75%;
}
.input2 {
    background: #83D1E1;
    border: #fff;
    border-bottom: 1px solid #212529;
}
.negative {
    background-color: #dc3545;
}

.positive {
    background-color: #198754;
}

.btn {
    font-family: Consolas;
    color: #fff;
}

.btn:hover {
    color: blue;
}

nav {
    font-family: consolas;
}

.nav-link {
    background-color: #0E8EA8;
    color: #fff;
}

.dropdown-menu {
    background-color: #83D1E1;
    color: #212529;
}

#picture{
    height: 40px;
    width: 40px;
}

.bi, .fa {
    font-size: 25px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
